{% extends parent_template|default:"todo/base_todo.html" %}
{% block title %}
{{ block.super }} - Main
{% endblock %}

{% block content %}
<h1>Togedo!</h1>
<h2>Is there anything todo?</h2>
<div>
    <form action="{% url 'task_main' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add Task"/>
    </form>
</div>
<h2>All tasks</h2>
<ul id="id_task_list">
    {% for task in task_list %}
    <li>
        <a href="{{ task.get_absolute_url }}">{{ task.name }}</a>
        {% if task.due %} 
            Due: {{ task.due|date:"H:i l jS N Y" }} 
        {% endif %}
        <a href="{{ task.get_update_url }}">Edit</a>
        <a href="{{ task.get_delete_url }}">Delete</a>
    </li>
    {% empty %}
    <li>There is no task to do.</li>
    {% endfor %}
</ul>
{% endblock %}