{% extends parent_template|default:"todo/base_todo.html" %}
{% block title %}
{{ block.super }} - {{ tasklist.name }}
{% endblock %}

{% block content %}
<h1>Tasks</h1>
<ul>
    <li>
        <a href="{{ tasklist.get_task_create_url }}">New Task</a>
    </li>
</ul>
<ul>
    {% for task in tasklist.task_set.all %}
    <li>
        <a href="{{ task.get_absolute_url }}">{{ task.name }}</a>
        {% if task.due %} 
            Due: {{ task.due|date:"H:i l jS N Y" }} 
        {% endif %}
        <a href="">Edit</a>
        <a href="">Delete</a>
    </li>
    {% empty %}
    <li>There is no task in this list.</li>
    {% endfor %}
</ul>
{% endblock %}