{% extends parent_template|default:"todo/base_todo.html" %}
{% block title %}
{{ block.super }} - List:{{ tasklist.name }}
{% endblock %}


{% block content %}
<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="panel is-info">
            <p class="panel-heading">
              {{ tasklist.name }}
            </p>
            {% for task in tasklist.task_set.all %}
            <div href="{{ list.get_absolute_url }}" class="panel-block is-block">
                <div class="content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <p class="is-size-5 level-item" ><strong>{{ task.name }}</strong></p>    
                        </div>
                        <div class="level-right">
                            <a href="" class="level-item" aria-label="important">
                                <span class="icon is-small has-text-warning">
                                    {% if task.is_important %}
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    {% else %}
                                    <i class="far fa-star" aria-hidden="true"></i>
                                    {% endif %}
                                </span>
                            </a>
                        </div>
                    </div>
                    
                    <p>{{ task.text }}</p>

                    <nav class="level is-mobile">
                        <div class="level-left">
                            {% if task.due %}
                            <a href="" class="level-item" aria-label="complete">
                                <span class="icon is-small has-text-info">
                                    <i class="far fa-clock" aria-hidden="true"></i>
                                </span>
                                
                            </a>
                            <span>
                                {{ task.due|date:"H:i l jS N Y" }}
                            </span>
                            {% endif %}
                        </div>
                        <div class="level-right has-text-right">
                            <a href="" class="level-item" aria-label="complete">
                                <span class="icon is-small has-text-info">
                                    <i class="fas fa-check" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a href="{{ task.get_update_url }}" class="level-item" aria-label="update">
                                <span class="icon is-small has-text-info">
                                    <i class="fas fa-edit" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a href="{{ task.get_delete_url}}" class="level-item" aria-label="delete">
                                <span class="icon is-small has-text-info">
                                    <i class="far fa-trash-alt" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </nav>
                    
                </div>
            </div>
            {% empty %}
            <div class="panel-block is-block">
                <p class="has-text-centered">
                    This list is empty.
                </p>
            </div>
            {% endfor %}
            <div class="panel-block">
                <a href="{{ tasklist.get_task_create_url }}" class="button is-info is-outlined is-fullwidth">
                    <span class="icon"><i class="fas fa-plus"></i></span>
                    <span>Add a New Task</span>
                </a>
            </div>
            <div class="panel-block">
                <a href="{{ tasklist.get_delete_url }}" class="button is-info is-outlined is-fullwidth">
                    <span class="icon"><i class="far fa-trash-alt"></i></span>
                    <span>Delete This List</span>
                </a>
            </div>
            <div class="panel-block">
                <a href="{{ tasklist.get_update_url }}" class="button is-info is-outlined is-fullwidth">
                    <span class="icon"><i class="far fa-edit"></i></span>
                    <span>Rename This List</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
