{% extends parent_template|default:"todo/base_todo.html" %}

{% block title %}
{{ block.super }} - Create New List
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-offset-2 is-8">
        <form action="{% url 'todo:tasklist_create' %}" method="post">
            {% csrf_token %}
            <div class="field">
                <label for="{{ form.name.id_for_label }}" class="label">Name</label>
                <div class="control">
                  {{ form.name }}
                </div>
                {% if form.name.errors %}
                <ul>
                    {% for error in form.name.errors %}
                        <li class="help is-danger">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button type="submit" class="button is-link" value="Add List">
                        Add List
                    </button>
                </div>
                <div class="control">
                    <button class="button is-link is-light">
                        <a href="{% url 'todo:tasklist_list' %}">Cancel</a>
                    </button> 
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}